<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/list', user:@book_user,new_book:@new_book, room:@room, roomId:@roomId %>
    </div>
    <div class="col-md-9 book-table">
      <%= render 'books/books', books:@books %>
    </div>
  </div>
</div>