<%= render 'layouts/error_messages',model:@new_book %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'users/list',user:@user,new_book:@new_book %>

    <%= render 'books/books',books:@books %>
  </div>
</div>