<%= render 'layouts/error_messages',model:@new_book %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/list',user:@user,new_book:@new_book %>
    </div>
    <div class="col-md-9 book-table">
      <%= render 'books/books',books:@books %>
    </div>
  </div>
</div>