<h1>welcome to <strong>Bookers!!</strong></h1>
<p>In <strong>Bookers</strong>,<br/>
   you can share and exchange your opinions, inpressions, and emotions<br/>
   about various books!
</p>

<div><%= link_to "Log in", new_user_session_path %></div>
<div><%= link_to "Sign Up", new_user_registration_path %></div>