<div class="error-message">
<% if model.errors.any? %>
  <p><%= model.errors.count %> errors phohibited this obj from being saved</p>
  <% model.errors.full_messages.each do |message| %>
    <p>・<%= message %></p>
  <% end %>
<% end %>
</div>